@model WebApplication5.Models.CalendarViewModel
@using WebApplication5.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style type="text/css">
        body {
            background-color: #DEDEDE;
        }
        div.title {
            font: x-large Verdana, Arial, Helvetica, sans-serif;
            text-align: center;
            height: 40px;
            background-color: white;
            color: black;
        }

        div.footer {
            font: small Verdana, Arial, Helvetica, sans-serif;
            text-align: center;
        }

        table {
            font: 100% Verdana, Arial, Helvetica, sans-serif;
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
        }
        th {
            padding: 0 0.5em;
            text-align: center;
            background-color: gray;
            color: white;
        }
        td {
            font-size: medium;
            padding: 0.25em 0.25em;
            width: 14%;
            height: 80px;
            text-align: left;
            vertical-align: top;
        }
        .date {
            font-size: large;
            padding: 0.25em 0.25em;
            text-align: left;
            vertical-align: top;
        }
        .sun {
            color: red;
        }
        th.month {
            visibility: hidden;
            display: none;
        }
    </style>
</head>

<h2 style="text-align:center;">@Model.MonthName 2014</h2>
<table border="1">
    <tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
    @{
        int calendarIndex = 0;
    }
    @while (calendarIndex < @Model.DaysInMonth.Count)
    {
        <tr>
            @for (int dayNum = 1; dayNum <= 7; dayNum++)
            {
                if (@Model.DaysInMonth[calendarIndex] < 1)
                {
                    <td><span class="date">&nbsp;</span></td>
                }
                else
                {
                    <td>
                        <span class="date">@Model.DaysInMonth[calendarIndex]</span>

                        @{
                    var eventsToday = new List<CalendarEventViewModel>();
                    var currentDate = new DateTime(Model.Year, Model.Month, @Model.DaysInMonth[calendarIndex]).Date;
                        }
                        @foreach (var evt in @Model.Events)
                        {
                            if (evt.When.Date == currentDate)
                            {
                                <br />
                                <span><a href="@evt.Film.Link"> @evt.Film.Title</a></span>
                            }
                        }
                    </td>
                }
                calendarIndex++;
            }
        </tr>
    }
</table>
<h3>Meeting Dates as a List:</h3>
<ul>
    @foreach (var e in Model.Events)
    {
        <li>@e.Film.Title - @e.When.ToString("yyy/MM/dd hh")</li>
    }
</ul>
